body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

#first {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, #cf0063, #350e47);
    background-color: #cf0063;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

/* menu css's -- down -- */

#nav {
    width: 100%;
    /* background-color: rgba(51, 51, 51, 0.404); */
    /* background: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(2px); */
    position: fixed;
    top: 0;
}

#inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: cyan; */
    margin: 0 10%;
}

#inner-nav > a {
    font-size: 42px;
}

#inner-nav  a{
    text-decoration: none;
    color: whitesmoke;
    font-family: calibri;
    /* background-color: red; */
}

#nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* background-color: green; */
    
}

#nav ul li {
    display: inline-block;
    /* background-color: pink; */
    margin: 0 15px 0 15px;
    margin-bottom: 20px ;
}

#inner-nav ul li a {
    display: block;
    padding: 40px 0 20px 0;
    font-weight: 500;
}

#inner-nav ul li a:hover {
    box-shadow: inset 0 -5px 0 0 #fc0a7e;
}

/* menu css's -- up -- */


/* first-text css's -- down -- */

#first-text {
    width: 100%;
    color: white;
    font-family: calibri;
    font-weight: 600;
    /* background-color: red; */
    padding: 0 0 0 10%;
    /* position: relative; */
    
}

#first-text a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    background-color: #fc0a7e;
    transition: background-color 1s, color 1s;
    border-radius: 5px;
}

#first-text a:hover {
    color: gray;
    background-color: whitesmoke;
}

#first-text h1 {
    font-size: 10vh;
    margin: 0 0 20px 0;
    height: 10vh;  
}

#first-text h3 {
    font-size: 30px;
    margin: 20px 0 25px 0;
    font-weight: 400;
    max-width: 50%; 
}

#img {
    position: relative;
    z-index: -1;
}

#img img {
    position: absolute;
    top: 0;
    left: 100%;
    
    transform: translate(-100%, -25%);
    height: 85vh;
}

/* first-text css's -- up -- */

#seconde {
    background-color: #1b1b1b;
    width: 100%;
    height: 120vh;
    /* display: flex;
    justify-content: center; */
    padding: 10vh 0 0 0 ;
    color: whitesmoke;
    font-family: calibri;
}

/* wrapper css's -- down -- */

#seconde #wrapper {
    height: fit-content;
    display: block;
    /* background-color: red; */
    text-align: center;
    max-width: 700px;
    margin: auto;
}

#seconde #wrapper h3 {
    color: #a8a8a8;
} 

#seconde #wrapper h2 {
    font-size: 38px;
    /* background-color: blue; */
    margin: 0;
}

#seconde form {
    /* background-color: green; */
    margin: auto;
    margin-top: 10vh;
    width: fit-content;
    /* display: flex;
    align-items: center; */
}

#seconde form #inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
} 

#seconde form label {
    display: block; 
    width: fit-content;
    color: whitesmoke;
    padding: 20px 40px;
    background-color: #fc0a7e;
    transition: background-color 1s, color 1s;
    border-radius: 5px;
    margin: 0 auto 5vh;
}

#seconde form label:hover {
    color: gray;
    background-color: whitesmoke;
}

#seconde form #btn {
    display: block;
    margin: 5vh auto 0;
    color: whitesmoke;
    padding: 15px 35px;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 5px;
}

#seconde form #btn:hover {
    border: 2px solid whitesmoke;
    box-shadow: 0 0px 8px #ffffffbb;
}

#seconde form #result {
    max-width: 400px;
    max-height: 400px;
    padding: 0;
    margin: 0;
    /* background-color: aqua; */
    /* display: none; */
}

#seconde form #result img {
    /* display: none; */
    max-width: 400px;
    max-height: 350px;
}

/* wrapper css's -- up -- */


/* third css's -- down -- */

#third .nbr {
    width: 70vw;
    display: flex;
    align-items: center;
    font-family: calibri;
    color: #1b1b1b;
    margin: 10vw auto;
    padding: 0 10vw;
    /* background-color:red; */
}

#third .nbr .nbr-img #img121 {
    width: 125%;
    /* background-color: pink; */
    margin-left: 3vw;
}

#third .nbr .nbr-text {
    padding: 4vw 4vw;
    max-width: 20vw;
   /*  width: 50vw; */
    /* background-color: aqua; */
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
}

#third .nbr .nbr-text h2 {
    text-align: center;
    font-size: 28px;
    margin: 0;
}

#third .nbr #img122 img{
    width: 90%;
}

/* third css's -- up -- */

            /* metric-box */
#metric-box1 {
    width: 90vw;
    padding: 0;
    margin: 10vh auto 20vh ;
    /* background-color: #fc0a7e;  */
}

#metric-box1 .metric {
    font-family: calibri;
    text-align: center;
    margin: 0 5px;
    /* background-color: aqua; */
    display: inline-block;
    width: 24%;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 1px 15px rgba(51, 51, 51, 0.342);
}

.metric-box .metric h1 {
    font-size: 60px;
    font-weight: 500;
}

.metric-box .metric p {
    font-size: 20px;
    font-weight: 600;
    color: #1b1b1b;
    border-bottom: 2px solid gray ;
    display: inline-block;
}
            /* metric-box */

            /* metric-box2 */
#metric-box2 .metric #html {
    width: 101px
}

#metric-box2 .metric #css {
    width: 100px
}

#metric-box2 .metric #flask {
    width: 109.5px
}

#metric-box2 {
    width: 67.5vw;
    padding: 0;
    margin: 10vh auto 10vh;
    /* background-color: red; */
}

#metric-box2 .metric {
    font-family: calibri;
    text-align: center;
    margin: 0;
    /* background-color: aqua; */
    display: inline-block;
    width: 33.33%;
    color: #333;
}

#metric-box2 .metric .name {
    display: block;
    border: none;
}

#metric-box2 .metric .lorem {
    border: 2px solid gray;
    border-radius: 5px;
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 400;
    color: #1b1b1b;
    padding: 5px 10px;
    margin: 0 10px;
}
            /* metric-box2 */


footer{
    background-color: #1b1b1b;
    text-align: center;
    font-family: calibri;
    font-size: large;
    color: white;
}

footer p {
    padding: 20px;
    display: inline-block;
    margin: auto ;
}

.enlarge:hover {
    transform: scale(1.2);
}



/*-------------------animation-------------------- */

/* text transition */
.fade-up {
    opacity: 0%;
    transform: translateY(200%);
}

.active {
    opacity: 100%;
    transform: translateY(0%);
    transition: 1s ease-out;
}

/* flask transition */

.fade-in {
    opacity: 0%;
    transform: translateX(50%);
}

.in{
    opacity: 100%;
    transform: translateX(0%);
    transition: 1s ease-out;
}

/* html transition */

.fade-in2 {
    opacity: 0%;
    transform: translateX(-50%);
}

.in2{
    opacity: 100%;
    transform: translateX(0%);
    transition: 1s ease-out;
}

/*-------------------animation-------------------- */


/* questions */

#questions {
    margin: 0 0 20vh 0;
}

#questions #questions-h3 {
    color: #333;
    font-family: calibri;
    /* background-color: blue; */
    text-align: center;
    margin: 0;
}

#questions #questions-h2 {
    /* background-color: aqua; */
    font-size: 7vh;
    color: #1b1b1b;
    font-family: calibri;
    text-align: center;
    margin: 0 0 5vh 0;
}

.question-container {
    /* background-color: #fc0a7e; */
    display: flex;
    justify-content: center;
    font-family: calibri;
}

.question-container .quest {
    display: inline-block;
    width: 50%;
    margin: 8px 0;
    background-color: rgb(210, 210, 210);
    border-radius: 7px;
}

.question-container .quest .question {
    margin: 0;
    padding: 13px 20px;
    background-color: rgb(200, 200, 200);
    border-radius: 7px;
    color: #333;
    font-weight: 550;
}

.question-container .quest .answer {
    margin: 0;
    padding: 0;
    background-color: rgb(210, 210, 210);
    height: 0;
    border-radius: 0 0 7px 7px;
    transition: height 0.5s ease-in;
    overflow: hidden;
    color: rgb(59, 59, 59);
}

.question-container .quest .question:hover{
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}

.disp {
    height: fit-content;
}

/* the down arrow in the ansewrs */

.question-container .quest .question #down1 {
    float: right;
    /* background-color: #fc0a7e; */
    transition: transform 1s;
}

.turn {
    transform: rotate(180deg);
}


/* feed-back */

#feed-back {
    width: 100%;
    height: 70vh;
    /* background-image: linear-gradient(135deg, #cf0063, #350e47); */
    background-image: url(./images/waves.png), linear-gradient(135deg, #cf0063, #350e47); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}
#all {
    background-color: #333;
    padding: 40px 40px;
    border-radius: 10px;
    font-family: calibri;
    color: whitesmoke;
}

#all h3 {
    margin: 0 0 15px 0;
    font-size: 34px;
    font-weight: 500;
}

#feed {
    /* background-color: #1b1b1b; */
    height: fit-content;
    width: fit-content;
    display: flex;
}

#feed input:focus {
    outline: none;
    border-bottom: 3px solid white;
    box-shadow: 0 0px 10px #ffffffbb;
    clip-path: inset(0px 2px -20px 2px);
}

#info {
    /* background-color: rgb(12, 91, 160); */
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0 120px 0 0;
}

#info input {
    height: fit-content;
    margin: 7px 0;
    width: 300px;
    border: none;
    border-bottom: 3px solid whitesmoke;
    background-color: #333;
    padding: 10px 3px;
    color: wheat;
}

#text {
    /* background-color: #6b6b6b; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#text input {
    height: 100%;
    padding: 0 3px 75px 3px;
    width: 300px;
    margin-top: 7px;
    border: none;
    border-bottom: 3px solid whitesmoke;
    background-color: #333;
    color: wheat;
}

/* feed-back's button */

#sub {
    margin: 5vh auto 0;
    color: whitesmoke;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 5px;
}

#sub:hover {
    border: 2px solid whitesmoke;
    box-shadow: 0 0px 10px #ffffffbb;
}
