<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoDe</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

    <!-- this is the purple part -->

    <div id="first">

        <div id="nav">
            <div id="inner-nav">
                <a id="logo" href="#first">YoDe</a>
                <ul>
                   <li><a href="#third">Models</a></li>
                    <li><a href="#seconde">Try It</a></li>
                    <li><a href="#metric-box2">Framework</a></li>
                </ul>
            
            </div>
        </div>


        <div id="first-text">
            <div id="img">
                <img src="../static/images/image3.png" alt="img">
            </div>

            <h1 class="fade-up">YoDo</h1>
            <h3 class="fade-up">The first web-app for the detection of Arab Sign Language using Yolov5</h3>
            <a href="#seconde">Test It</a>
        </div>
  
    </div>

    <!-- this is the black part -->
   
    <div id="seconde">

        <div id="wrapper">
            <h3 class="fade-up">Test it out</h3>
            <h2 class="fade-up">Select an image and observe the real computer vision</h2>
        </div>

        <form method="POST" enctype="multipart/form-data"> 
            <input type="file" accept="image/*" id="inputfile" name="file" onchange="loadFile(event)">
            <label for="inputfile">Choose an image ...</label>
            
            <div id="result"><img class="enlarge" id="img-result" src="data:image/jpeg;base64,{{ img_data }}" alt="result"></div>
            <button id="btn" type="submit">submit</button>
        </form>

    </div>

    <!-- this is the white part -->

    <div id="third">

        <div class="nbr">
            <div class="nbr-text">
                <h2 class="fade-up">yolov5</h2>
                <div class="fade-up">
                    est une famille d'architectures et de modèles de détection d'objets ( yolov5(s/m/l/x) ) qui représente la recherche open source Ultralytics sur l'avenir de la vision par ordinateur, dans cette application, nous utilisons la version yolov5s pour sa vitesse, la taille de fichier de poids, implémenté dans PyTorch qui facilite la manipulation du modèle
                </div>
            </div>
            <div class="nbr-img">
                <img id="img121" src="../static/images/yolov5 logo .png" alt="image1">
            </div>
        </div>

        <div class="nbr">
            <div class="nbr-img" id="img122">
                <img  src="../static/images/ArSLA.png" alt="image2">
            </div>
            <div class="nbr-text">
                <h2 class="fade-up">Arab Sign Language</h2>
                <div class="fade-up">est une famille de langues des signes répandues dans tout le Moyen-Orient arabe. Contrairement à l'arabe parlé, les langues des signes arabes (ArSL) ne sont pas diglossiques. Cela signifie qu'il existe une version d'une langue des signes arabe utilisée par une communauté, plutôt que deux versions</div>
            </div>
        </div>

    </div>

    <!-- this is the metrics part -->
    
    <div id="metric-box1" class="metric-box">
        <div class="metric" style="margin-left: 9px;"><h1 class="fade-up">87%</h1><p class="fade-up">map_0.95</p></div><div class="metric"><h1 class="fade-up">98%</h1><p class="fade-up">map_0.5</p></div><div class="metric"><h1 class="fade-up">85%</h1><p class="fade-up">precision</p></div><div class="metric"><h1 class="fade-up">5%</h1><p class="fade-up">loss</p></div>
    </div>

    <!-- this is the framework part -->

    <div id="metric-box2" class="metric-box">
        <div class="metric"><img id="html" src="../static/images/html.png" alt="html"><p class="name">Html</p><p class="lorem fade-up">Est le langage de balisage conçu pour représenter cette pages web. Ce langage permet d’écrire de l’hypertexte, d’où son nom, de structurer sémantiquement la page, de mettre en forme le contenu</p></div><div class="metric"><img id="css" src="../static/images/css.png" alt="css"><p class="name">Css</p><p class="lorem fade-up">CSS forment un langage informatique qui décrit la présentation de documents HTML et XML.</p></div><div class="metric"><img id="flask" src="../static/images/flask.png" alt="flask"><p class="name">Flask</p><p class="lorem fade-up">Flask est un micro framework open source pour le développement web en Python. Il est classé comme un micro-cadre car il est très léger. Ce langage définit le backend de cette page web</p></div>
    </div>
    
    <!-- this is the footer part -->

    <footer>
        <p>This web-app is made for study purposes</p>
    </footer>

    <!-- Scripts -->

    <!-- this Script is for showing the selected Image -->

    <script>
        var loadFile = function(event) {
            var image = document.getElementById('img-result');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

    <!-- this Script is for the fade in effect -->

    <script src="../static/app.js"></script>

</body>
</html>
